#header {
    height: 20vh;
    background: url(https://cdn.pixabay.com/photo/2016/11/29/01/51/wood-1866654_1280.jpg);
}

#header .row {
    height: 33%;
}

.game-card {
    height: 75vh;
    font-size: 0.9em;
}

.logo img{
    height: 60px;
}

#titleContent {
    font-size: 2em;
    font-family: cursive ;
    color: white;
}

.m-0 {
    font-family: fantasy;
    font-size: 1.1em;
    color: darkslateblue;
}

.card-title {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
}

#footer {
    align-items: center;
    height: 5vh;
    background: url(https://cdn.pixabay.com/photo/2016/11/29/01/51/wood-1866654_1280.jpg);
}

